/* Reset CSS */
* { box-sizing: border-box; }

/* /////////////////////////// */

body {
    margin: 0;
    padding: 0;
    background: #EFF1F7;
}

/* /////////////////////////// */


/* Layout Area */

.content {
    grid-area: content;
    text-align: center;
}

.container {
    font-size: 1.5em;
    display: grid;
    grid-template-areas: 
        "sidebar"
        "content";
    grid-template-columns: 1fr;
    grid-template-rows: 2.6em 1fr;
}
/* END Layout Area */
/* /////////////////////////// */


/* NAV Content */

/* Nav Layout */
.sidebar {
    grid-area: sidebar;
    background: linear-gradient(to right, 
    rgba(249,107,142,1),
    rgba(218,103,230,1),
    rgba(130,129,253,1));
    justify-content: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}


/* Navbar Components */
nav ul {
    padding: 0;
    margin: 0.8em 0.3em 0 0.3em;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav li {
    list-style: none;
}

nav li a {
    color: white;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
}

nav li a:hover {
    opacity: 1;
}

/* END NAV Content */
/* /////////////////////////// */


/* MAIN Content */

/* TOP Main Content */
#foto-perfil {
    width: 130px;
    border-radius: 50%;
    margin-top: 0.5em;
    opacity: 0.9;
}

.profile-social ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.profile-social > ul > li{
    margin: 0px 22px;
    transition: 0.5s;
    opacity: 0.7;
}

.profile-social > ul > li:hover{
    opacity: 1;
}

.profile-social ul li {
    list-style: none;
}
.profile-social ul li a {
    text-decoration: none;
    color: #c1c6ce;
}


/* Middle main Content */

.hero-content h1 {
    font-size: 2em;
    font-weight: 300;
    color: #373d46;
}
.hero-content p {
    font-weight: 400;
    line-height: 1.8em;
    color: #8b9a9e;
}


/* Buttons Main Content */

.action-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 760;
    background: #867bfb;
    padding: 1em 2em;
    border-radius: 48px;
    margin: 1em 0;
    transition: 0.3s;
}
.action-btn:hover {
    box-shadow: 0 10px 50px rgba(188,197,216,1);
}

/* END MAIN Content */
/* /////////////////////////// */


/* FOOTER */

.made-with {
    display: flex;
    justify-content: center;
}

/* SVG Icons */
svg {
    width: 45px;
}

#made-with-love {
text-align: center;
font-family: 'Roboto Mono', monospace;
opacity: 0.3;
text-decoration: none;
margin: 0;
padding: 0;
bottom: 0;
margin-top: auto;
transition: 1s;
}
#made-with-love:hover {
    opacity: 1;
}

#mate {
    height: 30px;
    width: 30px;
}

.heart {
    fill: red;
    animation: pulse 1s ease infinite; 
    max-height: 20px;
    max-width: 30px; 
}
@keyframes pulse {
0% { transform: scale(1); }
50% { transform: scale(1.3); }
100% { transform: scale(1); }
}

/* END FOOTER */
/* /////////////////////////// */

/* Java SVG Hidden */
#svg-java {
    display: none;
}
/* /////////////////////////// */



@media (min-width: 860px) {
    /* Layout resize */

    .container {
        grid-template-areas: 
            "sidebar content";
        grid-template-columns: 30vh 1fr;
        grid-template-rows: 100vh;
    }
    .sidebar {
        background: linear-gradient(
            rgba(249,107,142,1),
            rgba(218,103,236,1),
            rgba(138,125,254,1));
        padding-top: 4em;
        box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
    }

    /* /////////////////////////// */


    /* Nav */
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 1.3em 0;
    }


    /* Button */
    .action-btn {
        margin: 0 1em 1em 1em;
    }


    /* Margin to h1 content */
    .hero-content h1 {
        margin: 0.3em 0 0 0;
    }


    /* Java */
    #svg-java {
        display: contents;
        position: absolute;
        display: flex;
        margin-right: 2em;
        top: 0;
        right:0;
        opacity: 0.1;
        z-index: -1;
    }

}
